

 .rotate_image{
  animation: circlerotate 20s linear  infinite normal ;
 }

 @keyframes circlerotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
 }
 

  .move{
    animation: upDown 4s linear infinite;
  }
  @keyframes upDown {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
  }
  .yellowbg
{
    cursor: pointer; 
    width: 140px;
    height: 50px;
    font-weight: bold;
    color: white;
    background-color:#4D6AFF;
    transition: all .5s ease;
    border: none;
    border-radius: 3px;
    /* box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4); */
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    padding: 15px;

}
.yellowbg:hover{
  color: rgb(255, 124, 16);
  transition: all .5s ease-in;
}
 .yellowbg::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 1s;
  z-index: -1;
  color:rgb(37, 37, 37);
  border: 2px solid rgb(255, 169, 8);
  color: rgb(245, 154, 17);
  background-color: #FFF24F;
 }
 .yellowbg:hover::before
 {
  color: rgb(32, 32, 32);
  transform: scaleX(1);
 }