.gradient{
    background: linear-gradient(360deg, rgba(15,23,42,1) 0%, rgba(38,38,38,0) 100%);
    position:absolute;
    bottom:0;
}

.blue_gradient{
    background: linear-gradient(360deg, rgba(15,23,42,1) 0%, rgba(38,38,38,0) 100%);
}